<div class="llm" lang="" style="display: inline" id="llm">
  <div class="mdict">
    <div style="position: absolute; top: 0; right: 0; text-align: right; font-size: 80%; color: #666;">
      <div>{{ .AdapterName }}</div>
      <div>{{ .Model }}</div>
      <div>{{ .Duration }}</div>
    </div>
    <b style="color: black; font-size: 100%">{{ .Sentence }}</b></br>
    <b style="color: gray; font-size: 100%">{{ .Translation }}</b>
  </div>
</div>
