<div class="llm" lang="" style="display: inline" id="llm">
  <div class="mdict">
    <b style="color: black; font-size: 100%">{{ .Sentence }}</b></br>
    <b style="color: gray; font-size: 100%">{{ .Translation }}</b>
  </div>
</div>
